<ul class="nav nav-pills nav-stacked">
    <li routerLinkActive="active" role="presentation" ><a routerLink="/item" >MASTER ITEM</a></li>
    <li routerLinkActive="active" role="presentation"><a  routerLink="/prapr">PR APPROVAL</a></li>
    <li routerLinkActive="active" role="presentation"><a  routerLink="/grnpo">GOODS RECEIPT</a></li>
    <li routerLinkActive="active" role="presentation"><a routerLink="/daily">Daily Production Output</a></li>
    <li routerLinkActive="active" role="presentation"><a routerLink="/logrep">Maintenance Report</a></li>
    <li routerLinkActive="active" role="presentation"><a (click)="OnLogout()">Log Out</a></li>
</ul>