<div *ngIf="ishaveRecord()">
  <div *ngFor="let item of hislist;let i = index">
      <div class="row">
          <div class="form-group" >
            <div class="col-xs-3">
              <input type="text" class="form-control" id="date" value="{{item.date}}">
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="dono" value="{{item.doNo}}">
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="icode" value="{{item.iCode}}">
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" id="qty" value="{{item.qty}}">
            </div>
        </div>
      </div>
   </div>
</div>
