<!--<div class="container">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
</div>-->
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
    <div class="navbar-header">
       <a class="navbar-brand" >
            <div class="navbar-brand-name">
             <img width="70" height="25" 
                src="./assets/logo.png"/>{{title}}</div>
        </a>
    </div>
    </nav>
  </div>
   <router-outlet></router-outlet>
 <div>
