 <dx-data-grid
    id="gridContainer"
    (onCellClick)='oncellClick($event)' 
    [dataSource]="prlist"
    [sorting]="{mode: 'single'}"
    [columns]="columns"
    [paging]="{ pageSize: 8 }"
    >
</dx-data-grid>

<form class="form" [formGroup]="rform">
    <div class="form-group">
        <label class="control-label col-xs-4" for="pass">PASSWORD</label>
        <div class="col-xs-8">
            <input type="password" class="form-control" id="pass" name="pass" formControlName="pass" >
            <span class="help-inline" 
                *ngIf="!rform.get('pass').valid &&  rform.get('pass').touched"><small>Password is required.</small></span>
        </div>
     </div>
     <br>
     <br>     
  <div class="form-group" >
        <div class="col-xs-6">
            <button type="button" 
            [disabled]="!rform.valid || !isPRSelected()"
            (click)="onApprove()"
            class="btn btn-large btn-block btn-primary">APPROVE</button> 
        </div>
        <div class="col-xs-6">
        <button type="button" 
        (click)="onCancel()"
        class="btn btn-large btn-block btn-primary">BACK</button> 
        </div>
          <div>
       <div class="help-inline">{{message}}</div>
      </div>
   </div>
 
</form>



 <!--<dx-data-grid [dataSource]="projects"
                  [allowColumnResizing]="true"
                  [hoverStateEnabled]="false"
                  [allowColumnReordering]="true"
                [searchPanel]="{visible: true}"
                  [paging]="{pageSize: 5}"
                 [pager]="{showInfo:true,showNavigationButtons:true,showPageSizeSelector:true}"
                  [rowAlternationEnabled]="true"
                  [selection]="{mode: 'none'}"
                  [editing]="{mode: 'form',allowUpdating: true,allowDeleting: true,allowAdding: true, texts:{addRow: 'Add a project'}}"
                  [export]="{enabled: true,fileName:'Projects',allowExportSelectedData: true}"
                  [groupPanel]="{visible: true}"
                  [filterRow]="{visible: true,applyFilter: 'auto'}"
                  [selection]="{mode: 'single'}">
    </dx-data-grid>-->